header{
    background-color: #244751;
    color: #E8FDFF;
}
body{
    background-color: lightblue;
   
}
main{
    background-color: white ;
    padding: 16px;
    
}
.post{
    margin-bottom: 48px;
}
.post .user-info img{
    border-radius: 50%;
}
.form-group{
    font-size: 1em;
    margin: auto;
    width: 100%;
    border: none;
    padding: 2px;
    background-color: #CCFFFF;
}
input {
    margin-bottom: 2em;
    font-size: 2em;
    
}

 .button {
    width: 10em;
    font-family: Verdana, sans-serif;
    color:  red;
    background-color: #3CBC8D;
    font-weight: bold;
    
    
}

label, input {
    display: block;
    width: 100%;
    text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
	
}
input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
    background-color: #3CBC8D;
}
input[type=password] {
    border: 2px solid red;
    border-radius: 4px;
    background-color: #3CBC8D;
}
input[type=email] {
    border: 2px solid red;
    border-radius: 4px;
    background-color: #3CBC8D;
}
